.gradient-text {
  background: linear-gradient(to right, #12ce5d 0%, #ffd80c 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.galley-mt {
  margin-top: 10rem;
}

.img-overlay {
  position: absolute;
  width: 100%;
  height: 46.2rem;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.wr-100 {
  width: 50%;
}

@media screen and (max-width: 991px) {
  .img-overlay {
    height: 32.2rem;
  }
  .wr-100 {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .img-overlay {
    height: 35.2rem;
  }
}
@media only screen and (min-width: 600px) {
  .wr-100 {
    width: 100%;
  }
}
